.navbar {
  background-color: black;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.desktop-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
.icon-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-right: 20%;
}
.zoomicon {
  font-size: x-large;
  font-weight: 900;
  padding-right: 20px;
}
.hostbutton {
  background-color: rgb(243, 243, 243);
  padding: 10px 12px;
  border-radius: 50px;
  background-image: url();
  /* background-position: 10% 50%; */
  padding-left: 46.4px;
  flex-shrink: 0;
  font-weight: 400;
  font-size: large;
  margin-right: 40px;
}
.loginsignup {
  font-size: large;
  font-weight: bold;
}
